.chat {
  display: flex;
  flex-direction: column;
  flex: 0.75; /*here we are taking spacing of 0.25 and 0.75 */
  height: 100vh;
  background-color: #363a3f;
  width: 100vw;
}

/* ChatHeader css parts */

.chatHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  color: gray;
}
.chatHeader__hash {
  color: gray;
  font-size: 30px;
  padding: 10px;
}
.chatHeader__left > h3 {
  display: flex;
  align-items: center;
  color: white;
}

.chatHeader__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  flex: 0.5;
}

.chatHeader__right > .MuiSvgIcon-root {
  padding: 5px;
  cursor: pointer;
  font-size: 35px;
}

.chatHeader__right > .MuiSvgIcon-root:hover {
  color: white;
}

.chatHeader__search {
  display: flex;
  align-items: center;
  color: gray;
  background-color: #2f3135;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
}

.chatHeader__search > input {
  background-color: transparent;
  outline-width: 0;
  color: white;
  border: none;
}

/* Chat input part codes */

.chat__input {
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  border-top: 1px solid gray;
  background-color: #474b53;
}

.chat__input > form > input {
  padding: 15px;
  background: transparent;
  border: none;
  outline-width: 0;
  color: white;
  font-size: large;
  width: 100%;
}

.chat__input > form {
  flex: 1;
}

.chat__inputButton {
  display: none;
}

.chat__inputIcons > .MuiSvgIcon-root {
  padding: 5px;
  font-size: 40px;
}

.chat__messages {
  flex: 1;
}
